head {
    display: flex;
    flex-direction: column;
}

.Logo {
    width: 300px;
    height: 120px;
}

.L1 {
    background-color: #1F2937;
    color: aliceblue;
}

.L1Header {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 16px 16px;
}

.L1HeaderRight {
    display: flex;
    gap: 50px;
    font-size: 24px;
    margin: 16px 26px 0px 0px;
    
}

a {
    text-decoration: none;
    color: white;
}

.L1Content {
    display: flex;
    margin: 16px 0px 16px 16px;
    justify-content: center;
    gap: 300px;
}

.L1ContentLeft {
    max-width: 500px;
    font-size: 25px;
}

.L1ContentImage{
    width: 600px;
    height: 400px;
}

.L1 button {
    color: white;
    background-color: #3882F6;
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
}

